//! **************************************************************************
// Written by: Map M.81d on Tue Nov 23 10:21:20 2021
//! **************************************************************************

SCHEMATIC START;
COMP "Dn<7>" LOCATE = SITE "E8" LEVEL 1;
COMP "Q" LOCATE = SITE "F9" LEVEL 1;
COMP "CLK_50MHz" LOCATE = SITE "C9" LEVEL 1;
COMP "An<0>" LOCATE = SITE "A6" LEVEL 1;
COMP "An<1>" LOCATE = SITE "B6" LEVEL 1;
COMP "An<2>" LOCATE = SITE "E7" LEVEL 1;
NET "CLK_50MHz_BUFGP/IBUFG" BEL "CLK_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
COMP "An<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "Dn<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "Dn<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "Dn<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "Dn<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "Dn<4>" LOCATE = SITE "D7" LEVEL 1;
COMP "Dn<5>" LOCATE = SITE "C7" LEVEL 1;
COMP "Dn<6>" LOCATE = SITE "F8" LEVEL 1;
NET "CLK_50MHz_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

